@import 'src/scss/vars.scss';
@import 'src/scss/mixins.scss';
@import 'src/scss/normalize.scss';
@import 'src/scss/base.scss';

#root {
    display: grid;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.wrapper {    
    height: 960px;
    padding: 32px 32px 32px 40px;
    background: #FCFDFF;
    border-radius: 44px;
    margin-inline: auto;
    box-shadow: 0 1px 10px #949393;
    display: grid;
    grid-template-columns: 640px auto;
}
.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.image {
    
    height: 896px;
    background: $color-bg;
    border-radius: 40px;
}
.login {
    max-width: 500px;
    padding: 0 70px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        @include text ($ff, 40px, 48px, 700, $color-secondary); 
        letter-spacing: 0.01em;
        text-transform: capitalize;
        margin-bottom: 8px;
    }
    &__desc {
        @include text ($ff, 16px, 24px, 400, $color-accent);
        margin-bottom: 56px;
    }
}
.form{
    &__field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 360px;
        margin-bottom: 20px;
    }
    &__title{
        @include text ($ff, 14px, 20px, 500, $color-secondary);        
    }
    &__input {
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        outline: 0;
        padding: 10px 14px;
        cursor: pointer;
        @include text ($ff, 16px, 24px, 400, $color-secondary); 
        &::placeholder {
            @include text ($ff, 16px, 24px, 400, $color-accent); 
        }        
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a{
        @include text ($ff, 14px, 20px, 500, $color-primary); 
        &:hover {
            text-decoration: underline;
        }
    }
    &__checkbox {
        margin-right: 8px;
    }
    &__submit {
        @include text ($ff, 16px, 20px, 500, $color-white);
        padding: 12px 0; 
        background: $color-primary;
        border-radius: 8px;
        width: 100%;
        border: 0;
        outline: 0;
        margin-top: 32px;
        cursor: pointer;
    }
}


